body {
background-color: #212121;
}

a {
  text-decoration:none;
}

.button {
    background-color: #212121;
    border: 2px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button2 {border-radius: 4px;}

h6{
Color: #33468a;
}
